<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Edición Funcionario</h3>
</div>
<div class="modal-body" id="modal-body">
    <form>
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input ng-model="entity.nombre" type="text" class="form-control" id="nombre" placeholder="Nombre del funcionario">
        </div>
        
        <div class="form-group">
            <label for="identificacion">Identificación</label>
            <input ng-model="entity.identificacion" type="text" class="form-control" id="identificacion" placeholder="Número de identificación">
        </div>
        
        <div class="form-group">
            <label for="cargo">Cargo</label>
            <input ng-model="entity.cargo" type="text" class="form-control" id="cargo" placeholder="Cargo del funcionario">
        </div>
        
        <div class="form-group">
            <label for="email">Email</label>
            <input ng-model="entity.email" type="text" class="form-control" id="email" placeholder="Correo electrónico">
        </div>
        
        <div class="form-group">
            <label for="celular">Celular</label>
            <input ng-model="entity.celular" type="text" class="form-control" id="celular" placeholder="Número celular">
        </div>
        
        <div class="form-group">
            <label for="sede">Sede</label>
            <select class="form-control" name="sede" id="sede"
                ng-options="option.nombre for option in sede.opciones track by option.id"
                ng-model="sede.opcion">
            </select>
        </div>
        
        <div class="form-group">
            <label for="jefe">Jefe inmediato</label>
            <select class="form-control" name="jefe" id="jefe"
                ng-options="option.nombre for option in jefe.opciones track by option.id"
                ng-model="jefe.opcion">
            </select>
        </div>
        
        
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="reset(entity.id)">Reiniciar Clave (123456)</button>
    <button class="btn btn-primary" type="button" ng-click="guardar()">Guardar</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
</div>