<div ng-show="isLogged">
    <h2>Configuración de Funcionarios</h2>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    Funcionario
                </th>
                <th>
                    Email
                </th>
                <th>
                    Celular
                </th>
                <th>
                    Sede
                </th>
                <th>
                    Jefe
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entity in entities">
                <td>
                    {{ entity.nombre }}<br>
                    {{ entity.identificacion }}<br>
                    {{ entity.cargo }}<br>
                </td>
                <td>
                    {{ entity.email}}
                </td>
                <td>
                    {{ entity.celular}}
                </td>
                <td>
                    <span ng-if="!entity.sede.nombre">---</span>
                    <span>{{ entity.sede.nombre }}</span>
                </td>
                <td>
                    <span ng-if="!entity.jefe.nombre">---</span>
                    <span>{{ entity.jefe.nombre }}</span>
                </td>
                <td>
                    <a href="" class="btn btn-primary" ng-click="openModalEdit(entity.id)">Editar</a>
                    <a href="" class="btn btn-danger" ng-click="openModalBorrar(entity.id)">Borrar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="" class="btn btn-success" ng-click="openModalNew()">Nuevo Funcionario</a>
</div>
<div noautorizado></div>