<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Nuevo funcionario</h3>
</div>
<div class="modal-body" id="modal-body">

    <form ng-submit="ok()">
        <div class="form-group">
            <label for="data.nombre">Nombre</label>
            <input ng-model="usuario.nombre" type="text" class="form-control" id="data.nombre" placeholder="Nombre del funcionario">
        </div>
        <div class="form-group">
            <label for="data.identificacion">Identificación</label>
            <input ng-model="usuario.identificacion" type="text" class="form-control" id="data.identificacion" placeholder="Identificación">
        </div>
        <div class="form-group">
            <label for="data.cargo">Cargo</label>
            <input ng-model="usuario.cargo" type="text" class="form-control" id="data.cargo" placeholder="Función que desempeña">
        </div>
        <div class="form-group">
            <label for="data.celular">Email</label>
            <input ng-model="usuario.email" type="text" class="form-control" id="data.email" placeholder="Correo electrónico">
        </div>
        <div class="form-group">
            <label for="data.celular">Celular</label>
            <input ng-model="usuario.celular" type="text" class="form-control" id="data.celular" placeholder="Número de celular">
        </div>
        <div class="form-group">
            <label for="data.sede">Sede</label>
            <select ng-model="usuario.sede" class="form-control" id="data.sede">
                <option ng-repeat="sede in sedes" value="{{ sede.id }}">{{ sede.nombre }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="data.jefe">Jefe inmediato</label>
            <select ng-model="usuario.jefe" class="form-control" id="data.jefe">
                <option ng-repeat="funcionario in funcionarios" value="{{ funcionario.id }}">{{ funcionario.nombre }}</option>
            </select>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Crear</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
</div>