<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Cambiar Clave</h3>
</div>
<div class="modal-body" id="modal-body">
    <form>
        <div class="form-group">
            <label for="password">Nueva Clave</label>
            <input ng-model="password" type="password" class="form-control" id="password" placeholder="Digite su nueva clave">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="guardar()">Guardar</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
</div>