<style>
    p.condiciones {
            text-align : justify;
    }
</style>
<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Condiciones de uso</h3>
</div>

<div class="modal-body" id="modal-body">	
    <h4>1. Introducción</h4>
    <p class="condiciones">Las presentes condiciones generales de uso de este sistema web, regulan los términos y condiciones de acceso y uso de www.mis-equipos.info, propiedad de Pacific Engineering & Consulting Company S.A.S., con domicilio en Avenida 2BN #44A-52 de la ciudad de Santiago de Cali y con NIT 900.520.681, en adelante, «la Empresa», que el usuario del Portal deberá de leer y aceptar para usar todos los servicios e información que se facilitan desde el portal.
    </p>
    <p class="condiciones">El mero acceso y/o utilización del portal, de todos o parte de sus contenidos y/o servicios significa la plena aceptación de las presentes condiciones generales de uso.
    </p><br>

    <h4>2. Condiciones de uso</h4>
    <p class="condiciones">Las presentes condiciones generales de uso del portal regulan el acceso y la utilización del portal, incluyendo los contenidos y los servicios puestos a disposición de los usuarios en y/o a través del portal, bien por el portal o bien por sus usuarios. 
    </p>
    <p class="condiciones">No obstante, el acceso y la utilización de ciertos contenidos y/o servicios puede encontrarse sometido a determinadas condiciones específicas.
    </p><br>

    <h4>2.2 Alcance</h4>
    <p class="condiciones">Este software consiste en la sistematización del proceso de seguimiento de la asignación de equipos dentro de la empresa, el sistema registra la trazabilidad de cada equipos, el responsable del equipo en un momento dado, la generación de remisión, notificaciones por correo electrónico a los involucrados, recordatorios y reportes.
    </p><br>

    <h4>3. Modificaciones</h4>
    <p class="condiciones">La empresa se reserva la facultad de modificar en cualquier momento las condiciones generales de uso del portal. 
    </p>
    <p class="condiciones">En todo caso, se recomienda que consulte periódicamente los presentes términos de uso del portal, ya que pueden ser modificados.
    </p><br>

    <h4>4. Obligaciones del Usuario</h4>
    <p class="condiciones">El usuario deberá respetar en todo momento los términos y condiciones establecidos en las presentes condiciones generales de uso del portal. 
    </p>
    <p class="condiciones">De forma expresa el usuario manifiesta que utilizará el portal de forma diligente y asumiendo cualquier responsabilidad que pudiera derivarse del incumplimiento de las normas.
    </p>
    <p class="condiciones">Así mismo, el usuario no podrá utilizar el portal para transmitir, almacenar, divulgar promover o distribuir datos o contenidos que sean portadores de virus o cualquier otro código informático, archivos o programas diseñados para interrumpir, destruir o perjudicar el funcionamiento de cualquier programa o equipo informático o de telecomunicaciones.
    </p>
    <p class="condiciones">También el usuario se compromete a no incurrir en la utilización de técnicas o procedimientos de las cuales se puedan derivar la alteración, suplantación o falsificación de datos dentro del sistema.
    </p><br>

    <h4>5. Responsabilidad del portal</h4>
    <p class="condiciones">El usuario conoce y acepta que el portal no otorga ninguna garantía de cualquier naturaleza, ya sea expresa o implícita, sobre los datos, contenidos, información y servicios que se incorporan y ofrecen desde el Portal.
    </p>
    <p class="condiciones">Exceptuando los casos que la Ley imponga expresamente lo contrario, y exclusivamente con la medida y extensión en que lo imponga, el Portal no garantiza ni asume responsabilidad alguna respecto a los posibles daños y perjuicios causados por el uso y utilización de la información, datos y servicios del Portal.
    </p>
    <p class="condiciones">En todo caso, el Portal excluye cualquier responsabilidad por los daños y perjuicios que puedan deberse a la información y/o servicios prestados o suministrados por terceros diferentes de la Empresa. Toda responsabilidad será del tercero ya sea proveedor o colaborador.
    </p>
    <p class="condiciones">La empresa se compromete en utilizar los datos de los usuario solo para el fin estipulado dentro del alcance de este sistema web, no cederá, venderá, alquilará los datos de los usuario a ningún tercero, protegiendo la privacidad de los usuario.
    </p><br>

    <h4>6. Propiedad intelectual e industrial</h4>
    <p class="condiciones">Todos los contenidos, marcas, logos, dibujos, documentación, programas informáticos o cualquier otro elemento susceptible de protección por la legislación de propiedad intelectual o industrial, que sean accesibles en el portal corresponden exclusivamente a la empresa o a sus legítimos titulares y quedan expresamente reservados todos los derechos sobre los mismos. Queda expresamente prohibida la creación de enlaces de hipertexto (links) a cualquier elemento integrante de las páginas web del Portal sin la autorización de la empresa, siempre que no sean a una página web del Portal que no requiera identificación o autenticación para su acceso, o el mismo esté restringido.
    </p>
    <p class="condiciones">En cualquier caso, el portal se reserva todos los derechos sobre los contenidos, información datos y servicios que ostente sobre los mismos. El portal no concede ninguna licencia o autorización de uso al usuario sobre sus contenidos, datos o servicios, distinta de la que expresamente se detalle en las presentes condiciones generales de uso del portal.
    </p><br>

    <h4>7. Legislación aplicable, jurisdicción competente y notificaciones</h4>
    <p class="condiciones">Las presentes condiciones se rigen y se interpretan de acuerdo con las Leyes de Colombia.
    </p>
    <p class="condiciones">Todas las notificaciones, requerimientos, peticiones y otras comunicaciones que el Usuario desee efectuar a la Empresa titular del Portal deberán realizarse por escrito y se entenderá que han sido correctamente realizadas cuando hayan sido recibidas en la siguiente dirección jramirez@pacificengineering.co.
    </p><br>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cerrar</button>
</div>