<div class="container">
    <div id="wrapper-login-form" class="col-sm-4 col-sm-offset-4">
        <div class="login-form">
            <form name="form-login" ng-submit="submitForm()">
                <br>
                <div class="form-group">
                    <label>Usuario</label>
                    <input type="text" class="form-control" id="loginEmail" name="_username" 
                           value="" placeholder="Correo electrónico" ng-model="user.login">
                </div>
                <div class="form-group">
                    <label>Clave</label>
                    <input type="password" class="form-control" id="loginPass" name="_password"
                           placeholder="Contraseña" ng-model="user.password">
                </div>
                <button type="submit" class="btn btn-primary center-block">Ingresar</button>
                <br>
            </form>
        </div>
    </div>
</div>