<nav class="navbar navbar-default" role="navigation" ng-show="isLogged">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <span id="custom-inicio" class="navbar-brand" >
            Control de Equipos
        </span>
    </div>
    <div class="collapse navbar-collapse" id="custom-menu">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#!/remisiones" data-id="custom-accionesPreliminares">
                    Remisiones
                </a>
            </li>
            <li>
                <a href="#!/misequipos" data-id="custom-accionesPreliminares">
                    Equipos a Cargo
                </a>
            </li>
            <li ng-show="!isAdmin">
                <a href="#!/equipo">
                    Todos los Equipos
                </a>
            </li>
            <li class="dropdown" ng-show="isAdmin">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    Configuración
                    <strong class="caret"></strong>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#!/sede">
                            <!--<span class="glyphicon glyphicon-home"></span>--> 
                            <i class="material-icons">account_balance</i>
                            Sedes
                        </a>
                    </li>
                    <li>
                        <a href="#!/funcionario">
                            <!--<span class="glyphicon glyphicon-user"></span> -->
                            <i class="material-icons">account_box</i>
                            Funcionarios
                        </a>
                    </li>
                    <li>
                        <a href="#!/tecnica">
                            <!--<span class="glyphicon glyphicon-scale"></span> -->
                            <i class="material-icons" style="font-size_: 24px">build</i>
                            Técnicas
                        </a>
                    </li>
                    <li>
                        <a href="#!/equipo">
                            <!--<span class="glyphicon glyphicon-scale"></span> -->
                            <i class="material-icons">network_check</i>
                            Equipos
                        </a>
                    </li>
                    <li>
                        <a href="#!/alerta">
                            <!--<span class="glyphicon glyphicon-alert"></span> -->
                            <i class="material-icons">notifications_none</i>
                            Alertas
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    Perfil
                    <strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="" ng-click="cambiarpassword()">
                            <span class="glyphicon glyphicon-user"></span>
                            Cambiar contraseña
                        </a>
                    </li>
                    <li>
                        <a href="" ng-click="mostrarCondiciones()">
                            <span class="glyphicon glyphicon-list-alt"></span>
                            Condiciones de Uso
                        </a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <a href="#!/logout" data-id="salir">
                            <span class="glyphicon glyphicon-log-out"></span>
                            Salir de Forma Segura
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>