<div class="modal-header">
    <h3 class="modal-title" id="modal-title">test</h3>
</div>
<div class="modal-body" id="modal-body">
    
    
  <div style="height: 305px">
    <div uib-carousel active="0" interval="500" no-wrap="false">
      <div uib-slide ng-repeat="slide in slides track by $index" index="$index">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{slide.id}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </div>
    </div>
  </div>
  
    
    
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok(entityId)">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>