<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Edición Sede</h3>
</div>
<div class="modal-body" id="modal-body">
    <form>
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input ng-model="entity.nombre" type="text" class="form-control" id="nombre" placeholder="Nombre de la sede">
        </div>
        <div class="form-group">
            <label for="usuarioSede">Almacenista</label>
            <select name="usuarioSede" id="usuarioSede"
                ng-options="option.nombre for option in usuarioSede.opciones track by option.id"
                ng-model="usuarioSede.opcion">
            </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="guardar()">Guardar</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
</div>