<div ng-show="isLogged">
    <h2>Configuración de Sedes</h2>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    Sede
                </th>
                <th>
                    Almacenista
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entity in entities">
                <td>
                    {{ entity.nombre}}
                </td>
                <td>
                    <span ng-if="!entity.usuarioSede">---</span>
                    {{ entity.usuarioSede}}
                </td>
                <td>
                    <a href="" class="btn btn-primary" ng-click="openModalEdit(entity.id)">Editar</a>
                    <a href="" class="btn btn-danger" ng-click="openModalBorrar(entity.id)">Borrar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="" class="btn btn-success" ng-click="openModalNew()">Nueva Sede</a>
</div>
<div noautorizado></div>