<div class="modal-header">
    <div class="row">
        <div class="col-xs-1">
            <h2><span class="glyphicon glyphicon-alert"></span></h2>
        </div>
        <div class="col-xs-11">
            <h3 class="modal-title" id="modal-title">Configuración de Alertas</h3>
            <h4 class="modal-title" id="modal-title">Informe - Equipos a cargo</h4>
        </div>
    </div>
</div>
<div class="modal-body" id="modal-body">

    <form class="form-inline">
        <p>
            El sistema generará un informe que se enviará a cada funcionario relacionando los equipos
            que tiene a cargo.
        </p>
        <p>
            Los informes serán enviados en las siguientes fechas:
        </p>
        <div class="row" style="margin: 0 5px;">
            <div class="col-xs-3" style="border: #cccccc 1px solid; margin: 2px;">
                <div style="float: left;"><small>2017-06-15</small></div>
                <div style="float: right; cursor: pointer"><strong style="color: #999999">X</strong></div>
            </div>
            <div class="col-xs-3" style="border: #cccccc 1px solid; margin: 2px;">
                <div style="float: left;"><small>2017-06-30</small></div>
                <div style="float: right; cursor: pointer"><strong style="color: #999999">X</strong></div>
            </div>
            <div class="col-xs-3" style="border: #cccccc 1px solid; margin: 2px;">
                <div style="float: left;"><small>2017-07-15</small></div>
                <div style="float: right; cursor: pointer"><strong style="color: #999999">X</strong></div>
            </div>
            <div class="col-xs-3" style="border: #cccccc 1px solid; margin: 2px;">
                <div style="float: left;"><small>2017-07-30</small></div>
                <div style="float: right; cursor: pointer"><strong style="color: #999999">X</strong></div>
            </div>
            <div class="col-xs-3" style="border: #cccccc 1px solid; margin: 2px;">
                <div style="float: left;"><small>2017-08-15</small></div>
                <div style="float: right; cursor: pointer"><strong style="color: #999999">X</strong></div>
            </div>
            <div class="col-xs-3" style="border: #cccccc 1px solid; margin: 2px;">
                <div style="float: left;"><small>2017-08-30</small></div>
                <div style="float: right; cursor: pointer"><strong style="color: #999999">X</strong></div>
            </div>
            <div class="col-xs-3" style="border: #cccccc 1px solid; margin: 2px;">
                <div style="float: left;"><small>2017-09-15</small></div>
                <div style="float: right; cursor: pointer"><strong style="color: #999999">X</strong></div>
            </div>
        </div>
    </form>
    <br><br>
    

    <div style="display:inline-block; min-height:290px;">
      <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
    </div>


</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="okEquiposACargo()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>