<div ng-show="isLogged">
    <h2>Configuración de Alertas</h2>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    Código
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entity in entities">
                <td>
                    {{ entity.codigo}}
                </td>
                <td>
                    {{ entity.nombre}}
                </td>
                <td>
                    <a href="" class="btn btn-primary" ng-click="openModalNew( entity.codigo )">Configurar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div noautorizado></div>