<div class="modal-header">
    <div class="row">
        <div class="col-xs-1">
            <h2><span class="glyphicon glyphicon-alert"></span></h2>
        </div>
        <div class="col-xs-11">
            <h3 class="modal-title" id="modal-title">Configuración de Alertas</h3>
            <h4 class="modal-title" id="modal-title">Mensajes de No Recepción</h4>
        </div>
    </div>
</div>
<div class="modal-body" id="modal-body">
    <form class="form-inline">
        <p>
            Pasados n días el sistema generará un mensaje informando que no se ha realizado la recepción del
            del equipo y se enviará a los funcionarios involucrados.
        </p>
        <div class="form-group">
            <span>
                Primer aviso a los
                <input size="1" ng-model="dia1" type="text" class="form-control input-sm">
                días.
            </span>
        </div>
        <br>
        <div class="form-group">
            <span>
                Segundo aviso a los
                <input size="1" ng-model="dia2" type="text" class="form-control input-sm">
                días.
            </span>
        </div>
        <br>
        <div class="form-group">
            <span>
                Tercer aviso a los
                <input size="1" ng-model="dia3" type="text" class="form-control input-sm">
                días.
            </span>
        </div>
        <br><br>
        <div class="row">
            <div class="col-xs-1">
                <strong>Nota:</strong>
            </div>
            <div class="col-xs-11">
                Despues del tercer aviso los mensajes se enviarán a diario 
                porque se considera como una situación crítica.
            </div>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="okNoRecepcion()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>