<style>
    .badge-equipos {
        width: min-content;
        padding: 0;
        margin: 0 5px;
        float: right;
        position: relative;
        cursor: pointer;
        z-index: 10;
    }
    .badge-equipos:hover {
        background-color: rgba(255, 255, 0, 0.25);
    }
    .badge-equipos i {
        padding: 0;
        margin: 0;
        font-size: 3em;
        float: right;
        color: #006AB5;
    }
    .badge-equipos span {
        float: right;
        color: yellow;
        background-color: red;
        position: relative;
        top: -15px;
    }
    .badge-equipos div {
        clear: both;
    }
</style>
<div class="badge-equipos" 
     ng-show="numeroEquipos > 0"
     ng-click="goEquipos()"
     >
    <i class="material-icons">assignment</i>
    <span class="badge">{{ numeroEquipos }}</span>
    <div></div>
</div>