<style>
    .badge-mail {
        width: min-content;
        padding: 0;
        margin: 0 5px;
        float: right;
        position: relative;
        cursor: pointer;
        z-index: 10;
    }
    .badge-mail:hover {
        background-color: rgba(255, 255, 0, 0.25);
    }
    .badge-mail i {
        padding: 0;
        margin: 0;
        font-size: 3em;
        float: right;
        color: #006AB5;
    }
    .badge-mail span {
        float: right;
        color: yellow;
        background-color: red;
        position: relative;
        top: -15px;
    }
    .badge-mail div {
        clear: both;
    }
</style>
<div class="badge-mail" 
     ng-show="numeroMensajes > 0"
     ng-click="goMensajes()"
     >
    <i class="material-icons">mail</i>
    <span class="badge">{{ numeroMensajes }}</span>
    <div></div>
</div>