<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Confirmar eliminación</h3>
</div>
<div class="modal-body" id="modal-body">
    Está seguro que desea <b>eliminar</b> el elemento?
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok(entityId)">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>