<div ng-show="isLogged">
    <h2>Equipos en {{tecnica.nombre}}</h2>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    Equipo
                </th>
                <th>
                    Serial
                </th>
                <th>
                    Interno
                </th>
                <th>
                    Marca
                </th>
                <th>
                    Referencia
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entity in equipos">
                <td>
                    <input type="checkbox" 
                           data-checklist-model="tecnica.equipos" 
                           data-checklist-value="entity"
                           id="equipo_{{$index}}"> 
                    <label for="equipo_{{$index}}">
                        {{ entity.nombre}}
                    </label>
                </td>
                <td>
                    {{ entity.serial}}
                </td>
                <td>
                    {{ entity.interno}}
                </td>
                <td>
                    {{ entity.marca}}
                </td>
                <td>
                    {{ entity.referencia}}
                </td>
                <td>
                    <a href="" class="btn btn-primary" ng-click="openModalDetalle(entity.id)">Detalle</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="" class="btn btn-success" ng-click="guardar()">Guardar</a>
    <a href="" class="btn btn-default" ng-click="atras()">Atrás</a>
</div>
<div noautorizado></div>