<div ng-show="isLogged">
    <h2>Configuración de Técnicas</h2>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    Técnica
                </th>
                <th>
                    Equipos
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entity in entities">
                <td>
                    {{ entity.nombre}}
                </td>
                <td>
                    <ul style="overflow-x: no-display; overflow-y: auto; line-height: 1em; height: 5em;">
                        <li ng-repeat="equipo in entity.equipos" ng-if="equipo.activo" >
                            <strong>{{ equipo.interno }}</strong> / {{equipo.nombre}} ({{equipo.marca}} / {{equipo.referencia}})
                        </li>
                    </ul>
                </td>
                <td>
                    <a href="#!/tecnica/equipos/{{entity.id}}" class="btn btn-primary">Equipos</a>
                    <a href="" class="btn btn-primary" ng-click="openModalEdit(entity.id)">Editar</a>
                    <a href="" class="btn btn-danger" ng-click="openModalBorrar(entity.id)">Borrar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="" class="btn btn-success" ng-click="openModalNew()">Nueva Técnica</a>
</div>
<div noautorizado></div>