<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Nueva Técnica</h3>
</div>
<div class="modal-body" id="modal-body">

    <form ng-submit="ok()">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input ng-model="sede.nombre" type="text" class="form-control" id="data.nombre" placeholder="Nombre de la técnica">
        </div>
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Crear</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
</div>