<style>
    #equipo-detail td, #equipo-detail th  {
        border-top: 0;
    }
    .fotos-container {
        height: 200px; 
        overflow-x: hidden; 
        overflow-y: auto;
    }
    .fotos-container img {
        margin:  auto;
    }
    .comentarios-container {
        height: 100px; 
        overflow-x: hidden; 
        overflow-y: auto;
        border: #DDDDDD 1px solid;
        padding: 5px;
    }
</style>
<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Confirmar Recepción</h3>
</div>
<div class="modal-body" id="modal-body">
    <br>
    <div class="row" >
        <div class="col-xs-6">
            <table id="equipo-detail" class="table table-condensed">
                <tr>
                    <th style="width: 30%">Nombre</th>
                    <td>{{entity.nombre}}</td>
                </tr>
                <tr>
                    <th>Serial</th>
                    <td>{{entity.serial}}</td>
                </tr>
                <tr>
                    <th>Interno</th>
                    <td>{{entity.interno}}</td>
                </tr>
                <tr>
                    <th>Marca</th>
                    <td>{{entity.marca}}</td>
                </tr>
                <tr>
                    <th>Referencia</th>
                    <td>{{entity.referencia}}</td>
                </tr>
                <tr>
                    <th>Estado</th>
                    <td>{{entity.estado}}</td>
                </tr>
                <tr>
                    <th>Técnicas</th>
                    <td>
                        <span ng-repeat="tecnica in entity.tecnicas">
                            - {{tecnica.nombre}}<br>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-4">
            <div class="fotos-container" ng-if="entity.fotos.length > 0">
                <div uib-carousel active="0" interval="3000" no-wrap="false">
                    <div uib-slide ng-repeat="slide in entity.fotos track by $index" index="$index">
                        <img class="img img-responsive" ng-src="{{url_imgs}}/imagenes/{{slide.url}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>
    <div class="row" >
        <div class="col-xs-12">
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>
                        Datos de envío
                    </span>
                </div>
                <div class="panel-body">
                    <div class="row" >
                        <div class="col-xs-7">
                            <div class="row" >
                                <div class="col-xs-5"><strong>Remitente:</strong></div>
                                <div class="col-xs-7">
                                    {{ envio.remitente.nombre }}<br>
                                    {{ envio.remitente.celular }}<br>
                                    {{ envio.remitente.email }}
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col-xs-5"><strong>Fecha de envío:</strong></div>
                                <div class="col-xs-7">{{ envio.fecha }}</div>
                            </div>
                            <div class="row" >
                                <div class="col-xs-5"><strong>Empresa de transporte:</strong></div>
                                <div class="col-xs-7">{{ envio.empresaTransporte }}</div>
                            </div>
                            <div class="row" >
                                <div class="col-xs-5"><strong>No. de guía:</strong></div>
                                <div class="col-xs-7">{{ envio.guia }}</div>
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <strong>Nota de envio</strong>
                            <div class="comentarios-container">
                                {{ envio.comentario }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-xs-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="recepcion.estado" class="col-xs-4 control-label">Estado del equipo</label>
                    <div class="col-xs-8">
                        <select class="form-control" ng-model="estado" id="recepcion.estado" ng-options="estado.nombre for estado in estadoMovimiento"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="recepcion.comentario" class="col-xs-4 control-label">Nota de recepción</label>
                    <div class="col-xs-8">
                        <textarea ng-model="comentario" id="recepcion.comentario" class="form-control" rows="3"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="confirmar()">Confirmar</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
</div>