<style>
    #equipo-detail td, #equipo-detail th  {
        border-top: 0;
    }
    .fotos-container {
        height: 200px; 
        overflow-x: hidden; 
        overflow-y: auto;
    }
    .fotos-container img {
        margin:  auto;
    }
    .comentarios-container {
        height: 100px; 
        overflow-x: hidden; 
        overflow-y: auto;
        border: #DDDDDD 1px solid;
        padding: 5px;
    }
    .col-8 {
        width: 8%;
    }
    .col-10 {
        width: 10%;
    }
    .col-14 {
        width: 14%;
    }
    .col-15 {
        width: 15%;
    }
    .col-20 {
        width: 20%;
    }
    .col-24 {
        width: 24%;
    }
    .col-35 {
        width: 35%;
    }
</style>
<div ng-show="isLogged">

    <h2>Enviar equipos</h2>
    <br>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Listado de equipos e enviar</div>
        <!-- Table -->
        <table class="table table-condensed table-bordered table-hover">
            <thead>
                <tr>
                    <th class="col-20">Interno</th>
                    <th class="col-20">Serial</th>
                    <th class="col-20">Marca</th>
                    <th class="col-20">Referencia</th>
                    <th class="col-35">Nombre</th>
                    <th class="col-15">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="equipo in equipos">
                    <td>{{equipo.interno}}</td>
                    <td>{{equipo.serial}}</td>
                    <td>{{equipo.marca}}</td>
                    <td>{{equipo.referencia}}</td>
                    <td>{{equipo.nombre}}</td>
                    <td>
                        <button class="btn btn-xs btn-danger text-right" type="button" ng-click="quitar(equipo.id)">X</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br>
    
    <div class="row" >
        <div class="col-xs-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="destinatario" class="col-xs-4 control-label">
                        Enviar a
                    </label>
                    <div class="col-xs-8">
                        <select class="form-control" ng-model="destinatario" id="destinatario" ng-options="funcionario.nombre + ' (' + funcionario.cargo + ' / ' + funcionario.celular + ')' for funcionario in funcionarios"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="empresaTransporte" class="col-xs-4 control-label">
                        Empresa de transporte
                    </label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" ng-model="empresaTransporte" id="empresaTransporte">
                    </div>
                </div>
                <div class="form-group">
                    <label for="guia" class="col-xs-4 control-label">
                        No. guía
                    </label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" ng-model="guia" id="guia">
                    </div>
                </div>
                <div class="form-group">
                    <label for="comentario" class="col-xs-4 control-label">
                        Nota de Envio
                    </label>
                    <div class="col-xs-8">
                        <textarea ng-model="comentario" id="comentario" class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-4 col-xs-10">
                        <button class="btn btn-primary text-right" type="button" ng-click="enviar()">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<div noautorizado></div>    
