<style>
    .icons-alert {
        color: red;
    }
    .icons-x2 {
        font-size: 1.5em;
    }
    
    .col-5 {
        width: 5%;
    }
    .col-10 {
        width: 10%;
    }
    .col-15 {
        width: 15%;
    }
    .col-20 {
        width: 20%;
    }
    .col-25 {
        width: 25%;
    }
    .col-30 {
        width: 30%;
    }
    .col-35 {
        width: 35%;
    }

</style>
<div ng-show="isLogged">
    <h2>Mis Equipos</h2>

    <div class="panel panel-default" ng-show="equiposXconfirmar.length > 0">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <span>
                <span class="glyphicon glyphicon glyphicon glyphicon-warning-sign icons-x2 icons-alert" aria-hidden="true"></span>
                Equipos pendientes por confirmar recepción
            </span>
        </div>
        <!--<div class="panel-body">
            <p>...</p>
        </div>-->

        <!-- Table -->
        <table class="table table-condensed table-bordered table-hover">
            <thead>
                <tr>
                    <th class="col-10">Interno</th>
                    <th class="col-15">Serial</th>
                    <th class="col-15">Marca</th>
                    <th class="col-15">Referencia</th>
                    <th class="col-15">Nombre</th>
                    <th class="col-20">Remitente</th>
                    <th class="col-10">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="equipo in equiposXconfirmar">
                    <td>{{equipo.interno}}</td>
                    <td>{{equipo.serial}}</td>
                    <td>{{equipo.marca}}</td>
                    <td>{{equipo.referencia}}</td>
                    <td>{{equipo.nombre}}</td>
                    <td>
                        {{equipo.remitente.nombre}}<br>
                        {{equipo.remitente.celular}}<br>
                        {{equipo.remitente.email}}
                    </td>
                    <td>
                        <a href="" class="btn btn-primary" ng-click="openModalConfirmar(equipo.id, equipo.movimientoId)">Confirmar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <form class="form-inline">
                <span>Equipos a cargo</span>
                <div class="form-group form-group-sm pull-right">
                    <label class="control-label" for="filtro">Técnica</label>
                    <select class="form-control" ng-init="filtro = ''" ng-model="filtro" id="filtro">
                        <option value="">Todo</option>
                        <option ng-repeat="tecnica in tecnicas" value="{{tecnica.nombre}}">{{tecnica.nombre}}</option>
                   </select>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
        <!-- Table -->
        <table class="table table-condensed table-bordered table-hover">
            <thead>
                <tr>
                    <th class="col-10"></th>
                    <th class="col-15">Interno</th>
                    <th class="col-15">Serial</th>
                    <th class="col-15">Marca</th>
                    <th class="col-15">Referencia</th>
                    <th class="col-20">Nombre</th>
                    <th class="col-10">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="equipo in equiposAcargo" ng-if="equipo.tecnicas.includes(filtro) || filtro == ''">
                    <td>
                    <input type="checkbox" 
                           data-checklist-model="equiposSeleccionados" 
                           data-checklist-value="equipo"
                           id="equipo_{{$index}}"> 
                    <!--<label for="equipo_{{$index}}">-->
                    </td>
                    <td>{{equipo.interno}}</td>
                    <td>{{equipo.serial}}</td>
                    <td>{{equipo.marca}}</td>
                    <td>{{equipo.referencia}}</td>
                    <td>{{equipo.nombre}}</td>
                    <td>
                        <a href="" class="btn btn-primary" ng-click="openModalDetalle(equipo.id)">Detalle</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <a href="" class="btn btn-success" ng-click="openModalAdicionar()">
        Adicionar a envío
    </a>
    <!--
    <a href="" class="btn btn-success" ng-click="test()">
        test
    </a>
    -->
</div>
<div noautorizado></div>