<style>
    
    .comentarios-container {
        height: 90px; 
        overflow-x: hidden; 
        overflow-y: auto;
        border: #DDDDDD 1px solid;
        padding: 5px;
    }

</style>
<div ng-show="isLogged">
    <h2>Remisión No. {{ envio.id }}</h2>
    <div class="row">
        <div class="col-xs-5">
            <div class="row">
                <div class="col-xs-5">
                    <strong>Remitente:</strong>
                </div>
                <div class="col-xs-7">
                    {{ envio.remitente.nombre}}<br>
                    {{ envio.remitente.identificacion }}<br>
                    {{ envio.remitente.cargo }}<br>
                    {{ envio.remitente.email }}<br>
                    {{ envio.remitente.celular }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5">
                    <strong>Destinatario:</strong>
                </div>
                <div class="col-xs-7">
                    {{ envio.destinatario.nombre }}<br>
                    {{ envio.destinatario.identificacion }}<br>
                    {{ envio.destinatario.cargo }}<br>
                    {{ envio.destinatario.email }}<br>
                    {{ envio.destinatario.celular }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5"></div>
                <div class="col-xs-7"></div>
            </div>
            <div class="row">
                <div class="col-xs-5">
                    <strong>Fecha de envío:</strong>
                </div>
                <div class="col-xs-7">
                    {{envio.fecha}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5">
                    <strong>Empresa de transporte:</strong>
                </div>
                <div class="col-xs-7">
                    {{envio.empresaTransporte}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5">
                    <strong>No. guía:</strong>
                </div>
                <div class="col-xs-7">
                    {{envio.guia}}
                </div>
            </div>
        </div>
        <div class="col-xs-7">
            <strong>Nota de envio</strong>
            <div class="comentarios-container">
                {{ envio.comentario }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">Listado de equipos a enviar</div>
                <table class="table table-condensed table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-20">Interno</th>
                            <th class="col-25">Serial</th>
                            <th class="col-25">Marca</th>
                            <th class="col-25">Referencia</th>
                            <th class="col-35">Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="equipo in envio.equipos">
                            <td>{{equipo.interno}}</td>
                            <td>{{equipo.serial}}</td>
                            <td>{{equipo.marca}}</td>
                            <td>{{equipo.referencia}}</td>
                            <td>{{equipo.nombre}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a href="" class="btn btn-success" ng-click="imprimir(envio.id)">
                Imprimir
            </a>
            <a href="" class="btn btn-default" ng-click="continuar()">
                Continuar
            </a>
        </div>
    </div>
    
</div>
<div noautorizado></div>