<style>
    
    .comentarios-container {
        height: 90px; 
        overflow-x: hidden; 
        overflow-y: auto;
        border: #DDDDDD 1px solid;
        padding: 5px;
    }

</style>

<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Detalle de la remisión</h3>
</div>

<div class="modal-body" id="modal-body">

    <div ng-show="isLogged">
        <h2>Remisión No. {{ remision.id }}</h2>
        <div class="row">
            <div class="col-xs-5">
                <div class="row">
                    <div class="col-xs-5">
                        <strong>Remitente:</strong>
                    </div>
                    <div class="col-xs-7">
                        {{remision.remitente.nombre}}<br>
                        {{remision.remitente.identificacion}}<br>
                        {{remision.remitente.cargo}}<br>
                        {{remision.remitente.email}}<br>
                        {{remision.remitente.celular}}<br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <strong>Destinatario:</strong>
                    </div>
                    <div class="col-xs-7">
                        {{remision.destinatario.nombre}}<br>
                        {{remision.destinatario.identificacion}}<br>
                        {{remision.destinatario.cargo}}<br>
                        {{remision.destinatario.email}}<br>
                        {{remision.destinatario.celular}}<br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5"></div>
                    <div class="col-xs-7"></div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <strong>Fecha de envío:</strong>
                    </div>
                    <div class="col-xs-7">
                        {{remision.fecha}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <strong>Empresa de transporte:</strong>
                    </div>
                    <div class="col-xs-7">
                        {{remision.empresaTransporte}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <strong>No. guía:</strong>
                    </div>
                    <div class="col-xs-7">
                        {{remision.guia}}
                    </div>
                </div>
            </div>
            <div class="col-xs-7">
                <strong>Nota de envio</strong>
                <div class="comentarios-container">
                    {{ remision.comentario }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <br>
                <div class="panel panel-default">
                    <div class="panel-heading">Listado de equipos e enviar</div>
                    <table class="table table-condensed table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-20">Confirmado</th>
                                <th class="col-20">Estado</th>
                                <th class="col-20">Interno</th>
                                <th class="col-25">Serial</th>
                                <th class="col-25">Marca</th>
                                <th class="col-25">Referencia</th>
                                <th class="col-35">Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="equipo in remision.equipos">
                                <td>
                                    <span ng-if = "!equipo.confirmado" class="glyphicon glyphicon-hourglass icons-x2 icons-neutral" aria-hidden="true"></span>
                                    <span ng-if = "equipo.confirmado" class="glyphicon glyphicon-ok-sign icons-x2 icons-ok" aria-hidden="true"></span>
                                </td>
                                <td>
                                    <div ng-show="equipo.confirmado">
                                        <span ng-if = "equipo.alerta" class="glyphicon glyphicon-exclamation-sign icons-x2 icons-alert" aria-hidden="true"></span>
                                        <span ng-if = "!equipo.alerta" class="glyphicon glyphicon-ok-sign icons-x2 icons-ok" aria-hidden="true"></span>
                                        {{equipo.estado}}
                                    </div>
                                    <div ng-show="!equipo.confirmado">
                                        Pendiente
                                    </div>
                                </td>
                                <td>{{equipo.interno}}</td>
                                <td>{{equipo.serial}}</td>
                                <td>{{equipo.marca}}</td>
                                <td>{{equipo.referencia}}</td>
                                <td>{{equipo.nombre}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--
        <div class="row">
            <div class="col-xs-12">
                <a href="" class="btn btn-success" ng-click="imprimir()">
                    Imprimir
                </a>
            </div>
        </div>
        -->
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cerrar</button>
</div>