<style>
    .icons-alert {
        color: red;
    }
    .icons-warning {
        color: yellowgreen;
    }
    .icons-ok {
        color: green;
    }
    .icons-neutral {
        color: gray;
    }
    .icons-x2 {
        font-size: 1.5em;
    }
    .col-8 {
        width: 8%;
    }
    .col-10 {
        width: 10%;
    }
    .col-14 {
        width: 14%;
    }
    .col-15 {
        width: 15%;
    }
    .col-20 {
        width: 20%;
    }
    .col-24 {
        width: 24%;
    }
    .col-35 {
        width: 35%;
    }
</style>

<div ng-show="isLogged">
    <h2>Remisiones</h2>
    
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <!--
        <div class="panel-heading">
            <span></span>
            <div class="clearfix"></div>
        </div>
        -->
        <!-- Table -->
        <table class="table table-condensed table-bordered table-hover">
            <thead>
                <tr>
                    <th class="col-8">#</th>
                    <th class="col-8">Estado</th>
                    <th class="col-8">Equipos</th>
                    <th class="col-14">Fecha</th>
                    <th class="col-24">Destinatario</th>
                    <th class="col-24">Transporte</th>
                    <th class="col-10">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="remision in remisiones">
                    <td>{{remision.id}}</td>
                    <td>
                        <span ng-if = "remision.estado <= 3" class="glyphicon glyphicon-minus-sign icons-x2 icons-neutral" aria-hidden="true"></span>
                        <span ng-if = "remision.estado == 6 || remision.estado == 7" class="glyphicon glyphicon-ok-sign icons-x2 icons-ok" aria-hidden="true"></span>
                        <span ng-if = "remision.estado == 4 || remision.estado == 5" class="glyphicon glyphicon-transfer icons-x2 icons-warning" aria-hidden="true"></span>
                        <span ng-if = "remision.estado == 5 || remision.estado == 7" class="glyphicon glyphicon-exclamation-sign icons-x2 icons-alert" aria-hidden="true"></span>


                    </td>
                    <td>{{ remision.nEquipos }}</td>
                    <td>{{ remision.fecha }}</td>
                    <td>
                        {{ remision.destinatario.nombre }} - {{ remision.destinatario.identificacion }}<br>
                        {{ remision.destinatario.cargo }} - {{ remision.destinatario.sede }}<br>
                        {{ remision.destinatario.email }} - {{ remision.destinatario.celular }}
                    </td>
                    <td>
                        <span ng-if="remision.empresaTransporte !== ''">
                            Empresa: {{remision.empresaTransporte}}
                        </span>
                        <br ng-if="remision.empresaTransporte !== '' && remision.guia !== ''">
                        <span ng-if="remision.guia !== ''">
                            No. Guía: {{remision.guia}}
                        </span>
                    </td>
                    <td>
                        <a href="" class="btn btn-primary" ng-click="openModalDetalle(remision.id)">Detalle</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<div noautorizado></div>