<style>
    #equipo-detail td, #equipo-detail th  {
        border-top: 0;
    }
    .fotos-container {
        height: 305px; 
        overflow-x: hidden; 
        overflow-y: auto;
    }
    .fotos-container img {
        margin:  auto;
    }
</style>
<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Detalle de Equipo</h3>
</div>
<div class="modal-body" id="modal-body">
    <br>
    <table id="equipo-detail" class="table table-condensed">
        <tr>
            <th style="width: 30%">Nombre</th>
            <td>{{entity.nombre}}</td>
        </tr>
        <tr>
            <th>Serial</th>
            <td>{{entity.serial}}</td>
        </tr>
        <tr>
            <th>Interno</th>
            <td>{{entity.interno}}</td>
        </tr>
        <tr>
            <th>Marca</th>
            <td>{{entity.marca}}</td>
        </tr>
        <tr>
            <th>Referencia</th>
            <td>{{entity.referencia}}</td>
        </tr>
        <tr>
            <th>Responsable</th>
            <td>{{entity.responsable}}</td>
        </tr>
        <tr>
            <th>Estado</th>
            <td>{{entity.estado}}</td>
        </tr>
        <tr>
            <th>Técnicas</th>
            <td>
                <span ng-repeat="tecnica in entity.tecnicas">
                    - {{tecnica.nombre}}<br>
                </span>
            </td>
        </tr>

    </table>

    <div class="fotos-container" ng-if="entity.fotos.length > 0">
        <div uib-carousel active="0" interval="3000" no-wrap="false">
            <div uib-slide ng-repeat="slide in entity.fotos track by $index" index="$index">
                <img class="img img-responsive" ng-src="{{url_imgs}}/imagenes/{{slide.url}}">
            </div>
        </div>
    </div>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>
                Trazabilidad
            </span>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Fecha envío</th>
                    <th>Fecha recepción</th>
                    <th>Fecha final</th>
                    <th>Funcionario</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="movimiento in movimientos">
                    <td>{{ movimiento.fechaInicio }}</td>
                    <td>{{ movimiento.fechaConfirmacion }}</td>
                    <td>{{ movimiento.fechaFinal }}</td>
                    <td>{{ movimiento.funcionario }}</td>
                    <td>{{ movimiento.estado }}</td>
                </tr>
            </tbody>
        </table>
    </div>
  

</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cerrar</button>
</div>