<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Edición Equipo</h3>
</div>
<div class="modal-body" id="modal-body">
    <form>
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input ng-model="entity.nombre" type="text" class="form-control" id="nombre" placeholder="Nombre del equipo">
        </div>
        <div class="form-group">
            <label for="interno">Interno</label>
            <input ng-model="entity.interno" type="text" class="form-control" id="interno" placeholder="Número interno">
        </div>
        <div class="form-group">
            <label for="serial">Serial</label>
            <input ng-model="entity.serial" type="text" class="form-control" id="serial" placeholder="Serial">
        </div>
        <div class="form-group">
            <label for="marca">Marca</label>
            <input ng-model="entity.marca" type="text" class="form-control" id="marca" placeholder="Marca">
        </div>
        <div class="form-group">
            <label for="referencia">Referencia</label>
            <input ng-model="entity.referencia" type="text" class="form-control" id="referencia" placeholder="Referencia">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="guardar()">Guardar</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
</div>