<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Fotos</h3>
</div>
<div class="modal-body" id="modal-body">
    <form>
        <input data-my-Directive type="file" name="file">
        <input data-my-Directive type="file" name="file">
        <input data-my-Directive type="file" name="file">
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="cerrar()">Cerrar</button>
</div>