<div ng-show="isLogged">
    <h2>Configuración de Equipos</h2>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    Equipo<br>
                    <input class="form-control input-sm" type="text" ng-init="filtroNombre = ''" ng-model="filtroNombre" id="filtroNombre">
                </th>
                <th>
                    Serial<br>
                    <input class="form-control input-sm" type="text" ng-init="filtroSerial = ''" ng-model="filtroSerial" id="filtroSerial">
                </th>
                <th>
                    Interno<br>
                    <input class="form-control input-sm" type="text" ng-init="filtroInterno = ''" ng-model="filtroInterno" id="filtroInterno">
                </th>
                <th>
                    Marca<br>
                    <input class="form-control input-sm" type="text" ng-init="filtroMarca = ''" ng-model="filtroMarca" id="filtroMarca">
                </th>
                <th>
                    Referencia<br>
                    <input class="form-control input-sm" type="text" ng-init="filtroReferencia = ''" ng-model="filtroReferencia" id="filtroReferencia">
                </th>
                <th>
                    Responsable<br>
                    <input class="form-control input-sm" type="text" ng-init="filtroResponsable = ''" ng-model="filtroResponsable" id="filtroResponsable">
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entity in entities" ng-if="
                    entity.nombre.toUpperCase().includes(filtroNombre.toUpperCase()) 
                    && entity.serial.toUpperCase().includes(filtroSerial.toUpperCase())
                    && entity.interno.toUpperCase().includes(filtroInterno.toUpperCase())
                    && entity.marca.toUpperCase().includes(filtroMarca.toUpperCase())
                    && entity.referencia.toUpperCase().includes(filtroReferencia.toUpperCase())
                    && entity.responsable.toUpperCase().includes(filtroResponsable.toUpperCase())
            ">
                <td>
                    {{ entity.nombre}}
                </td>
                <td>
                    {{ entity.serial}}
                </td>
                <td>
                    {{ entity.interno}}
                </td>
                <td>
                    {{ entity.marca}}
                </td>
                <td>
                    {{ entity.referencia}}
                </td>
                <td>
                    {{ entity.responsable}}
                </td>
                <td>
                    <a href="" class="btn btn-primary" ng-click="openModalDetalle(entity.id)">Detalle</a>
                    <a ng-show="admin" href="" class="btn btn-primary" ng-click="openModalFotos(entity.id)">Fotos</a>
                    <a ng-show="admin" href="" class="btn btn-primary" ng-click="openModalEdit(entity.id)">Editar</a>
                    <a ng-show="admin" href="" class="btn btn-danger" ng-click="openModalBorrar(entity.id)">Borrar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="" class="btn btn-success" ng-click="openModalNew()">Nuevo Equipo</a>
</div>
<div noautorizado></div>