<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Nuevo Equipo</h3>
</div>
<div class="modal-body" id="modal-body">

    <form ng-submit="ok()">
        <div class="form-group">
            <label for="data.nombre">Nombre</label>
            <input ng-model="equipo.nombre" type="text" class="form-control" id="data.nombre" placeholder="Nombre del equipo">
        </div>
        <div class="form-group">
            <label for="data.interno">Interno</label>
            <input ng-model="equipo.interno" type="text" class="form-control" id="data.interno" placeholder="Número interno">
        </div>
        <div class="form-group">
            <label for="data.serial">Serial</label>
            <input ng-model="equipo.serial" type="text" class="form-control" id="data.serial" placeholder="Serial">
        </div>
        <div class="form-group">
            <label for="data.marca">Marca</label>
            <input ng-model="equipo.marca" type="text" class="form-control" id="data.marca" placeholder="Marca">
        </div>
        <div class="form-group">
            <label for="data.referencia">Referencia</label>
            <input ng-model="equipo.referencia" type="text" class="form-control" id="data.referencia" placeholder="Referencia">
        </div>
        
        <input data-my-Directive type="file" name="file">
        <input data-my-Directive type="file" name="file">
        <input data-my-Directive type="file" name="file">
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Crear</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
</div>